pipeline/pipeline7.json
{
	"name": "pipeline7",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FromDate",
					"value": {
						"value": "'ADF_Demo'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"method": "POST",
					"body": {
						"value": "{\n    'employee_name' =@{variables('FromDate')}\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FromDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-05T08:14:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}